* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f8ff;
}

#head {
  margin: 30px 10% 0px;
  background-color: #fffafa;
}

.icon-float {
  width: 100%;
  padding: 10px;
  display: table;
}

#ul-head {
  float: right;
}

#button-head li {
  text-transform: uppercase;
  margin: 4px;
  list-style-type: none;
  float: right;
}

#button-head li a {
  background-color: #dddddd;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
}

#button-head li a:hover {
  background-color: #000000;
  color: #24c712;
  text-shadow: 2px 2px 2px #ff0000;
}

.icon-float img {
  width: 22px;
  float: left;
}

.container {
  margin: 10px 10% 30px;
  background-color: #fffafa;
  display: table;
}

.big-img-div .img img {
  position: absolute;
  width: 670px;
}

.img {
  position: relative;
   z-index: 1;
}

.img p {
  text-transform: uppercase;
  font-size: 20px;
}

.img p:nth-child(2){
  position: absolute;
  top: 33px;
  left: 20px;
}

.big-img-div {
  float: left;
  width: 50%;
}

.text-div {
  padding: 2vw;
  float: right;
  width: 50%;
}

.text-div p:first-of-type::before {
  content: "office 365 info";
  display: block;
  text-align: center;
  text-shadow: 2px 2px 2px red;
  font-size: 40px;
  text-transform: uppercase;
}

.small-imgs-div img {
  width: 100px;
  float: left;
  margin: 20px;
}
.small-imgs-div img:nth-child(5) {
  clear: both;
}

.table {
  margin: 665px 0px 20px;
  text-align: center;
  clear: both;
  border: 2px black inset;
  border-radius: 20px;
  width: 1330px;
  display: table;
}
.row {
  border-bottom: 2px black inset;
  height: 30px;
}

#last {
  border-bottom: none;
}

.col {
  padding: 5px;
  float: left;
  width: 165px;;
}

.col-operating-system {
  border-right: 1px black inset;
  display: inline;
}

.col-word, .col-excel, .col-powerpoint, .col-outlook, .col-onenote,.col-publisher, .col-publisher {
  border-right: 1px black inset;
}


p span:nth-child(1){
  display: block;
}

p {
  display: inline;
}
